<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.no7player.mapper.UserMapper">
 
  <select id="findUserInfo" resultType="cn.no7player.model.User">
    select uid, username,password from user;
  </select>

  <select id="findByName" resultType="cn.no7player.model.User">
    select
    *
    from user a
    where a.username = #{name}
  </select>

  <insert id="insert" >
    insert into user (
    uid,
    username,
    password
    )value(
    #{uid},
    #{username},
    #{password}
    )
  </insert>
 
</mapper>